extends layout

block title
  title Bnews

block link
  link(rel='stylesheet', href='/css/index.css')
  link(rel='stylesheet', href='/css/crypto.css')

block content
  article
    .AllContainer
      .SideBar
        .CryptoContainer
  .pageswitch
    .prepage 
    .pagenumbers 
    .nextpage 
    
block script
  script(src="../javascripts/index.js") 
  script(src='../javascripts/base.js')
  script(src="../javascripts/crypto.js") 
