extends layout

block title
  title Bnews

block link
  link(rel='stylesheet', href='/css/index.css')

block content
  article 
  .pageswitch
    .prepage 
    .pagenumbers 
    .nextpage 
    
block script
  script(src="../javascripts/index.js") 
  script(src='../javascripts/base.js')