doctype html
html
  head
    block title
    link(rel="icon" href="images/favicon.png" type="image/x-icon")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/css/base.css')
    block link
  <!-- Google tag (gtag.js) -->
  script(async src="https://www.googletagmanager.com/gtag/js?id=G-C074BNE1HT")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag("js", new Date());
    
    gtag("config", "G-C074BNE1HT");
  body
    header
      .nav
        .leftnav 
          div Bnews
        .categories 
        .rightnav
          div(id='searchContainer')
            input(type="text", placeholder="請輸入關鍵字搜尋" list='category' id="searchInput")
            .search
              img(src="../images/search.png") 
            div(class='searchTable', id='category')
          .signIn 
            span Log In
    main
      block content
    

    footer 
      div COPYRIGHT © 2023 Bnews
    script(src="../javascripts/navBar.js")
    block script
