.SideBar{
    display: flex;
    justify-content:end;
    align-items: start;
    grid-area: 2/3/9/3;
    position: relative;
}
.CryptoContainer{
    margin-top: 20px;
    position: sticky;
    top:70px;
    margin-left: 30px;
    padding: 10px;
    width: 70%;
    display: grid;
    align-items: center;
    grid-template-rows:  repeat(20, 1fr);
}
.Crypto{
    font-size: 12px;
    color: #808080;
    display: flex;
    align-items: center;
    height: 30px;
    border-bottom: 2px solid #D3D3D3;
}
.Crypto>div{
    margin: 5px;
}
.CrptoSymbol{
    width: 60px;
}
.CrptoCurrentPrice{
    flex-grow: 1;
}
.CrptoPriceChange{
    width: 60px;
    text-align: end;
    color: green;
}
.CrptoPriceChange-negative{
    width: 60px;
    text-align: end;
    color: red;
}
.CrptoImage{
    width: 20px;
    height: 20px;
}